@charset "utf-8";

body::-webkit-scrollbar {
  width: 8px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #F6D305; /* 스크롤바의 색상 */
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(35, 99, 164, 0.7);  /*스크롤바 뒷 배경 색상*/
}

header{
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background: #fff;
  transition: 0.3s;
  
}
header ul{
  display: flex;
  justify-content: right;
  line-height: 70px;
}
header ul li{
  margin-left: 45px;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
}
header ul li::after{
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  left: 0px;
  bottom: 18px;
  background-color: #2364A4;
  transition: 0.2s;
}
header ul li:hover{
  color: #2364A4;
}
header ul li:hover::after{
  width: 100%;
}

footer{
  background-color: #333;
  width: 100%;
  height: 150px;
}
footer address{
  font-size: 12px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  font-style: normal;
  padding-top: 45px;
}

