@charset "utf-8";
.inner{
  width: 74%;
  height: 100%;
  margin: auto;
}
section{
  height: calc(100vh - 70px);
}










/* section1 */
.sec1{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.sec1 .inner{
  position: relative;
}
.bottom_txt{
  position: absolute;
  width: 450px;
  bottom: 50px;
  left: 0px;
  font-size: 12px;
  line-height: 20px;
  animation: ani4;
  animation-duration: 2.2s;
}
.sec1 .inner .txt_box{
  position: absolute;
  top: 40%;
  left: 0px;
  transform: translateY(-50%);
}

.sec1 .inner .txt_box p{
  font-size: 45px;
  line-height: 58px;
}
.sec1 .inner .txt_box p span{
  font-weight: 600;
  color: #F6D305;
}
.sec1 .inner .txt_box p:nth-child(1){
  animation: ani4;
  animation-duration: 2s;
}
.sec1 .inner .txt_box p:nth-child(2){
  margin-bottom: 50px;
  animation: ani4;
  animation-duration: 2.1s;
}
.sec1 .inner .txt_box p:nth-child(3){
  font-size: 16px;
  animation: ani4;
  animation-duration: 2.2s;
}
@keyframes ani4{
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0px);
  }
}
.sec1 .back_oj{
  position: absolute;
  height: 150px;
  display: flex;
  align-items: center;
  top: 40%;
  transform: translateY(-50%);
  left: 60%;
}
.sec1 .back_oj .o1{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #E7B90E;
  animation: ani1;
  transform: translateX(25px);
  animation-duration: 1.2s;
}
@keyframes ani1{
  0% {
    transform: translateX(9999px);
  }
  100% {
    transform: translateX(25px);
  }
}
.sec1 .back_oj .o2{
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #F6D305;
  animation: ani2;
  animation-duration: 1.5s;
  transform: translateX(75px);
}
@keyframes ani2{
  0% {
    transform: translateX(9999px);
  }
  100% {
    transform: translateX(75px);
  }
}
.sec1 .back_oj .o3{
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #FFEAC5;
  transform: translateX(125px);
  animation: ani3;
  animation-duration: 1.8s;
}
@keyframes ani3{
  0% {
    transform: translateX(9999px);
  }
  100% {
    transform: translateX(125px);
  }
}
.sec1 .inner .r_txt_box{
  position: absolute;
  right: 0px;
  bottom: 10%;
  font-size: 60px;
  font-weight: bold;
  line-height: 75px;
  color: #2364A4;
  animation: ani5;
  animation-duration: 2.4s;
}
.sec1 .inner .r_txt_box p:nth-child(1){
  animation: ani5;
  animation-duration: 2.5s;
}
.sec1 .inner .r_txt_box p:nth-child(2){
  animation: ani5;
  animation-duration: 2.6s;
}
.sec1 .inner .r_txt_box p:nth-child(3){
  animation: ani5;
  animation-duration: 2.7s;
}
.sec1 .inner .r_txt_box p:nth-child(4){
  animation: ani5;
  animation-duration: 2.8s;
}
.sec1 .inner .r_txt_box p:nth-child(5){
  animation: ani5;
  animation-duration: 2.9s;
}
@keyframes ani5{
  0% {
    transform: translateY(99999px);
  }
  100% {
    transform: translateY(0px);
  }
}






/* section2 */
.sec2{
  width: 100%;
  height:  calc(100vh - 70px);
  background-color: #2364A4;
}
.sec2 .inner .inner_wrap{
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec2 .inner .inner_wrap div:nth-child(1){
  width: 45%;
  color: #fff;
  margin-right: 30px;
}
.sec2 .inner .inner_wrap div:nth-child(1) dt{
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 15px;
}
.sec2 .inner .inner_wrap div:nth-child(1) dd span{
  color: #F6D305;
}
.sec2 .inner .inner_wrap div:nth-child(1) dd{
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 25px;
}
.sec2 .inner .inner_wrap div:nth-child(1) dd:nth-child(2){
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 50px;
}
.sec2 .inner .inner_wrap div:nth-child(2){
  width: 45%;
}
.sec2 .inner .inner_wrap div:nth-child(2) dl{
  margin-bottom: 30px;
}
.sec2 .inner .inner_wrap div:nth-child(2) dt{
  display: inline-block;
  padding: 15px 20px;
  font-size: 18px;
  color:  #2364A4;
  font-weight: bold;
  background-color: #F6D305;
  border-radius: 24px;
  margin-bottom: 15px;
}
.sec2 .inner .inner_wrap div:nth-child(2) dd{
  color: #fff;
  padding-left: 20px;
  line-height: 30px;
  font-size: 16px;
}
.sec2 .inner .skill{
  width: 100%;
}
.sec2 .inner .skill dt{
  display: block;
  width: 50px;
  padding: 15px 20px;
  font-size: 18px;
  color:  #2364A4;
  font-weight: bold;
  background-color: #F6D305;
  border-radius: 24px;
  margin-bottom: 30px;
}
.sec2 .inner .skill dd{
  display: inline-block;
  width: 28%;
  padding-right: 30px;
  height: 50px;
  margin-bottom: 50px;
}
.sec2 .inner .skill dd span{
  display: inline-block;
  width: 100%;
  height: 20px;
  border-radius: 15px;
  background-color: #fff;
}
.sec2 .inner .skill dd span div{
  width: 0px;
  height: 20px;
  border-radius: 15px;
  background-color: #F6D305;
}
.sec2 .inner .skill dd img{
  position: relative;
  width: 50px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 10px;
  background-color: #fff;
}




/* sec3 */
.sec3{
  width: 100%;
  height:  calc(300vh - 210px);
}
.sec3 article{
  display: block;
  width: 100%;
  height:  calc(100vh - 70px);
  background-color: #E7B90E;
  position: relative;
  overflow: hidden;
}
.sec3 .ex{
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
  height: 90%;
  padding: 50px;
  box-sizing: border-box;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #fff;
  box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.397);
}
.sec3 article:nth-child(2n) .ex{
  left: auto;
  right: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.sec3 .con{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;
  height: 90%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.397);
}
.sec3 article:nth-child(2n) .con{
  position: absolute;
  left: 0px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.con img{
  width: 100%;
}
.ex>div{
  position: absolute;
  top: 22%;
  left: 18%;
}
.ex h3{
  width: 200px;
  margin-bottom: 15px;
}
.ex h3 img{
  width: 100%;
}
.ex p{
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: bold;
}
.ex dl{
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.ex dt{
  font-weight: bold;
}
.ex dl:last-child{
  margin-bottom: 100px;
}
.btn_wrap{
  margin-top: 80px;
  width: 400px;
  display: flex;
  justify-content: left;
}
.btn{
  display: inline-block;
  margin-right: 50px;
}
.btn a{
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 1.5px solid #7F13BD;
  background-color: #7F13BD;
  transition: 0.2s;
  cursor: pointer;
  font-size: 12px;
}
.btn a:hover{
  color: #7F13BD;
  background-color: #fff;
}
.sec3 article .color span{
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left:15px;
}
.sec3 article:nth-child(2){
  background-color: #FFEAC5;
}
.sec3 article:nth-child(3){
  background-color: #F6D305;
}
.sec3 article:nth-child(1) .color span{
  background-color: #D4261F;
}
.sec3 article:nth-child(2) .color span{
  background-color: #333;
}
.sec3 article:nth-child(2) .color span:last-child{
  background-color: #FF6982;
}
.sec3 article:nth-child(3) .color span{
  background-color: #3366FF;
}
.sec3 article:nth-child(1) .ex p{
  color: #D4261F;
}
.sec3 article:nth-child(2) .ex p{
  color: #333;
}
.sec3 article:nth-child(3) .ex p{
  color: #3366FF;
}
.sec3 article:nth-child(1) .btn a{
  background-color: #D4261F;
  border: 1.5px solid #D4261F;
}
.sec3 article:nth-child(2) .btn a{
  background-color: #333;
  border: 1.5px solid #333;
}
.sec3 article:nth-child(3) .btn a{
  background-color: #3366FF;
  border: 1.5px solid #3366FF;
}
.sec3 article:nth-child(1) .btn a:hover{
  background-color: #fff;
  color: #D4261F;
}
.sec3 article:nth-child(2) .btn a:hover{
  background-color: #fff;
  color: #333;
}
.sec3 article:nth-child(3) .btn a:hover{
  background-color: #fff;
  color: #3366FF;
}


/* sec4 */
.sec4{
  width: 100%;
  height: (100vh - 70px);
  position: relative;
}
.sec4 .inner{
  height: 100%;
}
.sec4 .inner h2{
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 100px;
  color: #2364A4;
}

.sec4 .inner .swiper{
  width: 100%;
  height: 50%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide a{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.swiper-slide a .filter{
  opacity: 0;
  transition: 0.3s;
}
.swiper-slide a:hover .filter{
  opacity: 0.3;
  width: 100%;
  height: 100%;
  background-color: #333;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 5;
}
.swiper-slide a:hover img{
  transform: scale(1.2);
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.swiper-button-prev{top: 50% !important; left: 150px !important;}
.swiper-button-next{top: 50% !important; right: 150px !important;}
.swiper-button-prev:after,.swiper-button-next:after{
  color: #2364A4;
}

/* 스크롤 애니메이션 */
.back-to-position{
  transition-duration: 0.5s;
}
.back-to-position.to-left{
  transform: translateX(100%) translateY(-50%) !important;
}
.back-to-position.to-right{
  transform: translateX(-100%) translateY(-50%) !important;
}
.show .back-to-position{
  transform: translateX(0) translateY(-50%) !important;
}
.show .back-to-position.delay-1 { transition-delay:.3s;}
.show .back-to-position.delay-2 { transition-delay:.6s;}
.show .back-to-position.delay-3 { transition-delay:.9s;}

.back-position{
  opacity: 0;
  transition-duration: 0.5s;
}
.back-position.to-left{
  transform: translateX(150px);
}
.back-position.to-right{
  transform: translateX(-150px);
}
.show .back-position{
  opacity: 1;
  transform: translateX(0);
}
.show .back-position.delay-1 { transition-delay:.3s;}
.show .back-position.delay-2 { transition-delay:.6s;}
.show .back-position.delay-3 { transition-delay:.9s;}


/* 모달창 */
.modal{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.411);
  z-index: 1000;
}
.modal i{
  position: fixed;
  z-index: 1000;
  font-size: 50px;
  right: 100px;
  top: 30px;
}
.modal .inner{
  overflow: scroll;
  overflow-x: hidden;
  background-color: #fff;
}
.modal .inner img{
  width: 100%;
}
.scroll_hidden{
  overflow-y: hidden;
}
